.main-layout {
  @apply flex flex-col h-screen w-full overflow-hidden;
  background: rgba(24, 21, 60, 0.7);
  backdrop-filter: blur(10px);
}

.layout-body {
  @apply flex flex-1 overflow-hidden;
}

.content-area {
  @apply flex-1 overflow-auto;
  background: rgba(15, 13, 36, 0.5);
  backdrop-filter: blur(8px);
}
