<div class="invite-container">
  <div *ngIf="isOpen" class="invite-arrow"></div>

  <div *ngIf="isOpen" @fadeInOut class="invite-dropdown">
    
    <div class="invite-header">
      <div class="invite-header-info">
        <div class="invite-header-icon">
          <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
        </div>
        <div class="invite-header-text">
          <div class="title">{{ 'INVITE_POPUP.INVITE_USERS' | translate }}</div>
          <a href="#" class="link">{{ 'INVITE_POPUP.WHY_INVITE' | translate }}</a>
        </div>
      </div>
      <button class="invite-header-button">
        {{ 'INVITE_POPUP.INVITE_BTN' | translate }}
      </button>
    </div>

    <div class="invite-body">
      <div class="invite-grid">
        
        <div class="invite-card">
          <mat-icon fontSet="material-icons-outlined" class="icon-sitemap">account_tree</mat-icon>
          <span class="title">{{ 'INVITE_POPUP.STRUCTURE' | translate }}</span>
          <button class="edit-btn">{{ 'SETTINGS.EDIT' | translate }}</button>
        </div>
        
        <div class="invite-card">
          <div class="icon-users">
            <mat-icon fontSet="material-icons-outlined">group</mat-icon>
          </div>
          <span class="title">{{ 'INVITE_POPUP.USERS' | translate }}</span>
          <span class="subtitle">{{ 'INVITE_POPUP.EMPLOYEES' | translate }}: 1</span>
          <div class="footer">{{ 'INVITE_POPUP.UNLIMITED' | translate }}</div>
        </div>
      </div>

      <div class="invite-project">
        <div class="invite-project-info">
          <div class="invite-project-icon">
            <mat-icon fontSet="material-icons-outlined">hub</mat-icon>
          </div>
          <div class="invite-project-text">
            <div class="title">{{ 'INVITE_POPUP.COLLAB_PROJECT' | translate }}</div>
            <a href="#" class="link">{{ 'INVITE_POPUP.WHAT_IS_THIS' | translate }}</a>
          </div>
        </div>
        <button class="invite-project-button">{{ 'INVITE_POPUP.CREATE_PROJECT' | translate }}</button>
      </div>

      <div class="invite-users">
        <div class="invite-users-count">1</div>
        <div class="invite-users-avatar">
          <mat-icon fontSet="material-icons-outlined">person</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>