<div class="invite-container">
  <div *ngIf="isOpen" class="invite-arrow"></div>

  <div *ngIf="isOpen" @fadeInOut class="invite-dropdown">
    
    <div class="invite-header">
      <div class="invite-header-info">
        <div class="invite-header-icon">
          <i class="fa-solid fa-user-plus"></i>
        </div>
        <div class="invite-header-text">
          <div class="title">Mời người dùng</div>
          <a href="#" class="link">ví sao cần mời?</a>
        </div>
      </div>
      <button class="invite-header-button">
        + Mời
      </button>
    </div>

    <div class="invite-body">
      <div class="invite-grid">
        
        <div class="invite-card">
          <i class="fa-solid fa-sitemap icon-sitemap"></i>
          <span class="title">Cấu trúc</span>
          <button class="edit-btn">Sửa</button>
        </div>
        
        <div class="invite-card">
          <div class="icon-users">
            <i class="fa-solid fa-user-group"></i>
          </div>
          <span class="title">Người dùng</span>
          <span class="subtitle">Số nhân viên: 1</span>
          <div class="footer">Không giới hạn</div>
        </div>
      </div>

      <div class="invite-project">
        <div class="invite-project-info">
          <div class="invite-project-icon">
            <i class="fa-solid fa-hexagon-nodes"></i>
          </div>
          <div class="invite-project-text">
            <div class="title">Dự án hợp tác</div>
            <a href="#" class="link">đây là gì?</a>
          </div>
        </div>
        <button class="invite-project-button">Tạo dự án</button>
      </div>

      <div class="invite-users">
        <div class="invite-users-count">1</div>
        <div class="invite-users-avatar">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    </div>
  </div>
</div>