<button
  type="button"
  class="user-time-widget-btn"
  [class.is-open]="isOpen"
  [attr.aria-expanded]="isOpen"
  aria-haspopup="dialog"
>
  <div class="time-container">
    <mat-icon fontSet="material-icons-outlined" class="time-icon">schedule</mat-icon>
    <span class="time-text">{{ currentTime() }}</span>
    <span class="time-ampm">{{ ampm() }}</span>
  </div>

  <figure class="avatar-figure">
    <img *ngIf="avatarUrl()" [src]="avatarUrl()" [alt]="userName()" class="avatar-img" />
    <mat-icon *ngIf="!avatarUrl()" fontSet="material-icons-outlined" class="avatar-icon">person</mat-icon>
  </figure>
</button>