<div class="setting-slider-container">
  <ng-container *ngIf="isOpen">
    <!-- Arrow indicator -->
    <div class="setting-slider-arrow"></div>

    <!-- Dropdown panel -->
    <div @fadeInOut class="setting-slider-dropdown">

      <div class="setting-slider-header">
        <div class="setting-slider-header-content">
          <span class="domain-name">b24-efr2se.bitrix24.vn</span>
          <button class="edit-btn" [title]="'SETTINGS.EDIT_DOMAIN' | translate">
            <mat-icon fontSet="material-icons-outlined" class="!w-4 !h-4 !text-[16px] !leading-[16px]">edit</mat-icon>
          </button>
        </div>
      </div>

      <div class="setting-slider-body">

        <div class="setting-card group">
          <div class="setting-card-left">
            <div class="icon-company">
              <mat-icon fontSet="material-icons-outlined">badge</mat-icon>
            </div>
            <span class="setting-card-title">{{ 'SETTINGS.COMPANY_DETAILS' | translate }}</span>
          </div>
          <button class="setting-card-action-btn">{{ 'SETTINGS.EDIT_COMPANY_DETAILS' | translate }}</button>
        </div>

        <div class="setting-card">
          <div class="setting-card-left">
            <div class="icon-home">
              <mat-icon fontSet="material-icons-outlined">home</mat-icon>
            </div>
            <span class="setting-card-title">{{ 'SETTINGS.START_PAGE' | translate }}</span>
          </div>
          <mat-icon fontSet="material-icons-outlined" class="setting-card-arrow">chevron_right</mat-icon>
        </div>

        <div class="setting-grid">
          <div class="setting-card">
            <div class="setting-card-left icon-security">
              <mat-icon fontSet="material-icons-outlined">shield</mat-icon>
              <span class="setting-card-title">{{ 'SETTINGS.SECURITY' | translate }}</span>
            </div>
            <mat-icon fontSet="material-icons-outlined" class="setting-card-arrow small">chevron_right</mat-icon>
          </div>
          <div class="setting-card">
            <div class="setting-card-left icon-config">
              <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
              <span class="setting-card-title">{{ 'SETTINGS.SETTINGS' | translate }}</span>
            </div>
            <mat-icon fontSet="material-icons-outlined" class="setting-card-arrow small">chevron_right</mat-icon>
          </div>
        </div>

        <div class="setting-card">
          <div class="setting-card-left">
            <div class="icon-network">
              <mat-icon fontSet="material-icons-outlined">lan</mat-icon>
            </div>
            <span class="setting-card-title">{{ 'SETTINGS.BRANCH_NETWORK' | translate }}</span>
          </div>
          <button class="setting-card-action-btn">{{ 'SETTINGS.EDIT' | translate }}</button>
        </div>

        <div class="setting-footer">
          <button class="setting-footer-link">{{ 'SETTINGS.DEPLOYMENT_REQUEST' | translate }}</button>
          <button class="setting-footer-link">{{ 'SETTINGS.QUICK_START' | translate }}</button>
          <button class="setting-footer-link">{{ 'SETTINGS.SUPPORT' | translate }}</button>
        </div>

      </div>
    </div>
  </ng-container>
</div>