<footer class="footer">
  <!-- Bên trái -->
  <div class="footer-left">
    <div class="flex items-center mr-4 gap-2">
      <a href=" #" class="footer-brand">AI Smart Kanban<sup class="text-[8px]">&reg;</sup></a>
      <app-lang-popup></app-lang-popup>
    </div>
  </div>

  <!-- Bên phải -->
  <div class="footer-right">
    <span class="footer-text">&copy; 2026 Digit 24</span>
    <a href="#" class="footer-link">Yêu cầu triển khai</a>
    <a href="#" class="footer-link">Chủ đề</a>
    <a href="#" class="footer-link">In</a>
  </div>
</footer>