<!-- Wrapper dùng CSS Grid để animate height mượt mà -->
<div class="submenu-wrapper" [class.submenu-open]="isOpen">
  <div class="submenu-inner">
    <ul class="submenu-list">
      <li *ngFor="let child of children" class="shrink-0">
        <a [routerLink]="child.route || null" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          class="submenu-item"
          [title]="child.label">

          <div class="submenu-item-left">
            <!-- Child Icon -->
            <div class="submenu-icon">
              <mat-icon class="w-[20px] h-[20px] text-[20px] !leading-[20px]">{{ child.icon }}</mat-icon>
            </div>

            <!-- Child Label -->
            <span class="submenu-label">
              {{ child.label }}
            </span>

            <!-- Child Badge -->
            <span *ngIf="child.badge" class="submenu-badge">
              {{ child.badge }}
            </span>
          </div>

        </a>
      </li>
    </ul>
  </div>
</div>
