.search-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 15px;
  width: max-content;
  transition: background-color 0.3s ease, border-color 0.2s ease;

  &.expanded {
    background-color: #ffffff;
    border-color: #ccc;

    .search-input {
      width: 300px;
      padding: 0 15px;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.search-input {
  width: 0;
  height: 40px;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  opacity: 0;
  font-size: 13px;
  pointer-events: none;
  transition: width 0.2s ease, padding 0.2s ease, opacity 0.2s ease;
}

.search-btn {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  transition: background-color 0.2s ease;
}